<fieldset>
    <legend>{{ title }}</legend>
    
    <!-- Type -->
    <p>
        <label for='type'>Book type:</label><br>
        <input type='text' name='type' value='{{ book.type }}'/>
    </p>

    <!-- name -->
    <p>
        <label for='name'> Name of book:</label><br>
        <input type='text' name='name' value='{{ book.name }}'/>
    </p>

     <!-- author -->
     <p>
        <label for='author'> Author:</label><br>
        <input type='text' name='author' value='{{ book.author }}'/>
    </p>


    <!-- image -->
    <p>
        <label for='image'>URL for image of book:</label><br>
        <input type='text' name='image' value='{{ book.image }}'/>
    </p>

    <!-- description -->
    <!-- <p>
        <label for='description'>description:</label><br>
        <input type="description" name="description" value='{{ book.description }}'/>
    </p> -->

    <p>
        <label for='description'>description: </label><br>
        <p class = 'text-muted'> Add a little description about the book.</p>
        <textarea class = 'form-control' id='book-description' name='description' rows='10' >{{book.description}}</textarea>
    </p>
    
</fieldset>

<!-- BUTTON -->
<p>
    <button type='submit'>Save Changes</button>
    
</p>

