<form method='POST' action='/books/{{book_id}}/adduser'>
    
    <input type='hidden' value='{{book_id}}' name='book_id'/>
    <fieldset>
        <legend>Add a User</legend>
        <!-- name-->
        <div class='form-group'>
            <label for='user-name'>Name</label><br>
            <input class='form-control'
                id='user-name'
                type='text'
                name='name'
                placeholder='name'/>
        </div>

        <!-- contact -->
        <div class='form-group'>
            <label for='user-contact'>Contact</label><br>
            <input class='form-control'
                id='user-name'
                type='text'
                name='contact'
                placeholder='Facebook/email/phone'/>
        </div>
    </fieldset>

    <!-- BUTTON -->
    <div class='form-group'>
        <button class='btn btn-primary' type='submit'>Save</button>
    </div>
</form>
