<!-- templates/book_index.html -->
{% extends 'base.html' %}

{% block content %}
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Welcome to Book Meets!</h1>
    <!-- <p>Resize this responsive page to see the effect!</p>  -->
  </div>
  <br>
  
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <form action="/list" method="POST"> 
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <div class="input-group">
          <input type="text" name= 'book' class="form-control" placeholder="Search" id="txtSearch"/>
          <div class="input-group-btn">
            <button class="btn btn-primary" type="submit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

   
    <div class='row'>
            <br>
        <div class="card">
                <div class='col-sm-6'>
                    <div class="card-body">
                        <a href='/books/{{ book._id }}'>
                            <small><img src = "{{ book.image }}" ></small>
                        </a>
                        <a href='/books/{{ book._id }}'>
                            <p class="card-text"><h3>{{book.name}}</h3></p>
                        </a>
                    </div>
                </div>
            </div>
                <br>
        </div>


        <!-- <div class='row'>
                <br>
        {% for book in books %}
         <div class="card">
                 <div class='col-sm-6'>
                
                <a href='/books/{{ book._id }}'>
                    <img class="card-img-top" src="{{ book.image }}" alt="Card image cap">
                </a>
            <div class="card-body"> 
    
                <a href='/books/{{ book._id }}'>
                    <p class="card-text"><h3>{{book.name}}</h3></p>
                </a>
         </div>
    </div> 
    </div>
    <br> -->
    
    
        <!-- {% endfor %}
    </div> -->

{% endblock %}