{% extends 'base.html' %}
{% block content %}
<!-- <a href='/'>Back to Home</a> -->
<h3>Type: {{ book.type }}</h3>
<h3>Name: {{ book.name }}</h3>
<h3>Description: {{ book.description }}</h3>
<img src = "{{ book.image }}" height="150" width="150">
<button type='submit'><a href='/books/{{ book._id }}/edit'>Update </a></button>


<!-- Delete button -->

<p><form method='POST' action='/books/{{ book._id }}/delete'>
    <button type='submit'>Delete</button>
</form></p>

<!-- users -->
<a href='/books/{{ book._id }}/adduser'>Add your name to the list </a> <br>
<a href='/books/{{ book._id }}/seeuser'>See who is on the list </a>
<hr>

    
   
{% endblock %}