<!-- templates/book_index.html -->
{% extends 'base.html' %}

{% block content %}
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Welcome to Book Meets!</h1>
    <!-- <p>Resize this responsive page to see the effect!</p>  -->
  </div>
  <br>
  
<h2>Search for a book: </h2>
<form action="/list" method="POST" autocomplete="on">
<td><input type="text" name="book" placeholder="type here" size="20" /></td>

<td><button type="submit">Search</button></td>


   
    <div class='row'>
            <br>
    {% for book in books %}
    <div class="card">
            <div class='col-md-3'>
            <div class="card-body">
 
        <a href='/books/{{ book._id }}'>
            <small><img src = "{{ book.image }}" ></small>
            
        </a>
    </div>
</div>
</div>
<br>
    {% endfor %}
</div>

{% endblock %}